.cardwrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 6vh;
    padding: 1vw;
    align-items: center;
    margin-bottom: 4vh;
}
.loadingwrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.stepButton {
  	display: inline-block;
}
#previous, #next {
	object-fit: contain;
}
.allCard-wrapper {
    display: grid;
    grid-template-columns: minmax(10px,1fr) minmax(400px,15fr) minmax(10px,1fr);
    grid-column-gap: 10px;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}