.layout-container {
    background: #fff;
    padding: 0px;
    width: 80%;
    margin: 0 auto;
}
.site-layout-background {
    background: #fff;
}
.hotwrapper {
    position: relative;
    margin-bottom: 16px;
}
.classtitle {
    margin-top: 2vh;
}
.classtitle h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
.filter {
    max-width: 60%;
    display: flex;
    margin:auto;
    text-align: center;
    justify-content: space-between;
}
.filterbutton {
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 16px;
}