.wrapper {
    align-items:center;
    justify-content:center;
    width:600px;
    height:600px;
    background-color:#eee;
}
.wrapper h1 {
    text-align: center;
}
.login-form {
    margin: 0 auto;
    max-width: 300px;
}

.login-form-forgot {
    margin-top: -30px;
    display: block;
    text-align: center;
}
.login-form-button {
    margin-top: -60px;
    width: 100%;
}