.headnav {
    position: absolute;
    z-index: 14;
    width: 100%;
    box-shadow: 0 2px 8px #f0f1f2;
    display: block;
    min-height: 50%
}

.navItem-signed {
    display: inline-block;
}
.bar-grid {
    display: grid;
    grid-template-columns: minmax(10px,1fr) minmax(10px,1fr) minmax(50px,3fr) minmax(100px,10fr) minmax(10px,1fr) minmax(10px,1fr);
    grid-column-gap: 1px;
}
.search-input .ant-input {
    font-size: 14px important!
}